{% extends 'base.html' %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    
    {% for room in paging.lists %}
    
        <h1>{{room.name}} / ${{room.price}}</h1>
    
    {% endfor %}

    <h5> Page {{paging.page}} of {{paging.page_count}} </h5>

    <div>
        {% if paging.previous_page_block %}
            <a href="?page={{paging.previous_page_block}}"><</a>
        {% endif %}

        {% for p in paging.page_range %}
            <a href="?page={{p}}">{{p}}</a>
        {% endfor %}

        {% if paging.next_page_block %}
            <a href="?page={{paging.next_page_block}}">></a>
        {% endif %}
    </div>
    
{% endblock content %}
